/* Styling rules for our Web App */

/* global setting, titles */
body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
}
small {
    font-size: min(3vw, 1rem);
}
#title {
    margin: 1rem 0 0 1rem;
}
#htitle, #wtitle, #ttitle, #ftitle, #rtitle {
    font-size: min(7vw, 2rem);
    margin-bottom: 1rem;
}
#header, #warning, #showT, #forecast, #rainfall {
    padding: min(5vw, 2rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    position: relative;
}
#upper, #middle {
    position: relative;
}

/* Hong Kong Weather Report Block */
#header {
    background-color: rgb(173, 216, 230);
    margin: 1rem 1rem 0 1rem;
    overflow: hidden;
}
.winfo {
    margin-right: min(3vw, 2rem);
    display: flex;
    align-items: flex-end;
    margin-top: 0.5rem;
}
#winfobox {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 2rem;
}
#icon {
    height: 7rem;
}
#drop, #umbrella, #uvIcon {
    height: min(10vw, 3rem);
    margin-right: 0.5rem;
}
#temp {
    font-size: min(20vw, 5rem);
}
.sup {
    font-size: min(5vw, 2rem);
    position: relative;
    top: max(-3vw, -2rem);
}
.ltemp {
    font-size: min(17vw, 4rem);
}
#humidity, #rain, #uv {
    font-size: min(5vw, 2rem);
}
#window {
    float: right;
}
/*
#window {
    display: inline;
}
#window img {
    height: 30rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
}
*/
#lastUpdateTime {
    position: absolute;
    font-size: max(0.5rem, min(1.5vw, 1rem));
    right: 1rem;
    bottom: -0.5rem;
}

#upper {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    z-index: 30;
}
#warning {
    margin: 1rem 1rem 1rem 0;
    background-color: rgb(61, 107, 255);
    flex-grow: 1;
}
#warningBlc {
    overflow: auto;
}
#rainfall {
    margin: 1rem;
    background-color: rgb(102, 232, 236);
    min-height: 8rem;
    z-index: 100;
}
#rdata {
    margin-top: 0.5rem;
    font-size: min(8vw, 3rem);
}

/* District temperature block */
#middle {
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 20;
}
#showT {
    background-color: lightskyblue;
    min-height: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#sblock, #temp-reg, #rselect, #rain-reg {
    font-size: min(4vw, 1rem);
}
.sup2 {
    font-size: min(5vw, 2rem);
    position: relative;
    top: max(-3vw, -1.5rem);
}

/* Forecast temperature block */
#forecast {
    background-color: rgb(185, 216, 255);
    flex-grow: 1;
    margin-right: 1rem;
    overflow: auto;
}
#FCWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
}
.forecast {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 0.2rem;
}
.fweekday, .fdate, .ftemp, .fhumid {
    font-size: max(0.5rem, min(1vw, 1rem));
}
.ficon {
    width: max(50%, min(10vw, 75%));
}
.fPSR {
    width: max(50%, min(5vw, 60%));
}


@media only screen and (max-width: 600px) {
    #middle, #upper {
        display: initial;
        margin: 0;
    }
    #warning, #showT, #forecast, #rainfall {
        margin: 1rem 1rem;
    }
}